body{
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  height: 65px;
  background-color: #B0171F;   
  border-radius: 0;
  border: 0;
  margin: 0;
  border-bottom: 1px solid black;
}


.navbar-brand{
  margin-left: 25px;
}
.container{
  padding: 0;
}
.navbar-brand h1{
  font-size: 1.5em;
  font-family: 'Oxygen', sans-serif;
  color: black;
  font-weight: bold;
  margin-top: 0;
}


#nav-list{
  margin-top: 0;
}
li{
  background-color: #FFFFCD;
  margin:0;
}


#li-1, #li-2, #li-3{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right:1px solid black;
}


.navbar-header button.navbar-toggle{
  margin-right: 25px;
  border: 1px solid black;  
}
.navbar-header .icon-bar{
  border: 2px solid black;
}

#collapsable-nav{
  border: 0;
  margin: 0;
  padding-top: 0;
}

#nav-list a{
  color: black;
}

#menu{
  font-size: 35px;
  font-weight: bold;
}

section {
  margin: 10px;
  border: 1px solid black;
  height: auto;
  background-color: #ff9912;
  padding-left: 10px;
  padding-right: 10px;
}

h2{
  font-size: 30px;
  font-weight: bold;
}